<div class="app-chart" *ngIf="payload">
  <div class="top-section">
    <div class="left">
      <p class="header">{{payload.Type}}</p>
      <span class="sub-w">
        <p class="subtitle">CY <span class="value">{{formatNumber(payload.Overall['CY']['value'])}}</span> </p>
        <p class="subtitle">PY <span class="value">{{formatNumber(payload.Overall['PY']['value'])}}</span> </p>
      </span>
    </div>
    <div class="right">
      <span class="change">{{payload.changeInPercentage || 100}}%</span>
      <span class="material-icons">
        stacked_bar_chart
      </span>
      <span class="material-icons">
        query_stats
      </span>
      <span class="material-icons">
        arrow_downward
      </span>
      <span class="material-icons new-window">
        open_in_new
      </span>
    </div>
  </div>

  <div class="middle-section">
    <canvas id="MyChart{{chartIndex}}">{{ chart }}</canvas>
  </div>

  <div class="bottom-section">
    <div class="legend left">
      <span class="material-icons">
        circle
      </span>
      <p class="label">CY</p>
    </div>
    <div class="legend right">
      <span class="material-icons">
        circle
      </span>
      <p class="label">PY</p>
    </div>
  </div>
</div>