<div class="app-wrapper">
  <div id="app-left" class="app-left">
    <app-sidebar></app-sidebar>
  </div>

  <div id="app-right" class="app-right">
    <div class="top-bar">
      <span (click)="setTheme()" class="material-icons {{currentTheme === 'light'? 'moon': 'sun'}}">{{currentTheme ===
        'dark' ? 'wb_sunny': 'dark_mode'}}</span>

      <span class="material-icons settings">settings</span>
      <div class="profile-picture"></div>

    </div>
    <router-outlet></router-outlet>
  </div>
</div>