<div class="sidebar-wrapper">
  <div class="inner-wrapper">
    <div class="contents-c">

      <div class="logo-c">
      </div>

      <br>
      <div [class]="{ 'menu-item' :true, 'active': menu === currentMenu}" *ngFor="let menu of sideMenus"
        (click)="currentMenu = menu">
        <p>{{menu}}</p>
      </div>

    </div>

    <div class="collapse-c" (click)="toggleSidebar()">
      <span *ngIf="!collapsed" class="material-icons chevron">
        chevron_left
      </span>
      <span *ngIf="collapsed" class="material-icons chevron">
        chevron_right
      </span>
    </div>
  </div>
</div>